.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
  padding: 12px 20px;
  color: white;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 5px;
}

.nav-links a:hover {
  background: #374151;
}

.navbar button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
}

.logout:hover {
  background: #dc2626;
}