.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  background: #1f2937;
}

.sidebar a:hover {
  background: #374151;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  background: #f4f6fb;
}